main a{
    font-weight: 900;
    position: relative;
    color:var(--color-primary);
    text-decoration: none;
}

main a:after{
    content:'';
    height:1px;
    width:100%;
    position: absolute;
    left:0;
    top:0;
}

.project-title{
    text-decoration: underline;
}

.project-links{
    display: flex;
    justify-content: space-between;
    max-width: 230px;
}

.project-links a{
    box-sizing: border-box;
    padding:8px;
    background:#242824;
    transition: background 300ms ease;
}

.project-links a:hover{
    background:#1f211f;
}

a.back-btn{
    box-sizing: border-box;
    margin-top:1.4rem;
    display: inline-block;
}


